<template>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Balance</h5>
                    <p class="card-text">{{ balance }} opsCoin</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Address</h5>
                    <p class="card-text">{{ this.$utils.wallet.walletAddress(keyCombination.public) }}</p>
                </div>
            </div> 
        </div>

        <div class="col-md-6">
            <create-transaction-form />
        </div>

        <div class="col-md-12">
            <h3>Transactions Pool</h3>
            <transaction-pool />
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "home",
  computed: {
    ...mapGetters("wallet", {
      keyCombination: "keyCombination",
      balance: "balance",
      isOpen: "isOpen"
    })
  },
  methods: {
    ...mapActions("wallet", {
      getWalletBalance: "getWalletBalance",
      closeWallet: "closeWallet",
      getAddress: "getAddress"
    })
  },
  mounted() {
    this.getWalletBalance();
    this.getAddress();
  }
};
</script>
