<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link class="navbar-brand" to="/">OpoCoin</router-link>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button type="button" class="btn btn-success" @click="mine()">Mine</button>
                </li>
            </ul>
        </div>
    </nav>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "nav-bar",
  methods: {
    ...mapActions("wallet", {
      mine: "mine"
    })
  }
};
</script>
