<template>
    <form>
        <h3>Transaction</h3>
        <hr />
        <div class="form-group">
            <input type="text" v-model="recipient.recipient" class="form-control" id="recipientAddress" placeholder="Send to Address" />
            <label>Amount:</label>
            <input type="number" step="0.01" v-model="recipient.amount" class="form-control" id="amount" placeholder="Amount" />
            <label>Fee:</label>
            <input type="number" step="0.01" v-model="recipient.fee" class="form-control" id="fee" placeholder="Fee" />
        </div>
        <button type="button" class="btn btn-primary" @click="createTransaction(recipient)">Submit</button>
    </form>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "create-transaction-form",
  methods: {
    ...mapActions("wallet", {
      createTransaction: "createTransaction"
    })
  },
  data: function() {
    return {
      recipient: {
        recipient: "",
        amount: 0,
        fee: 0
      }
    };
  }
};
</script>

<style>
</style>
