<template>
    <form class="form-inline my-2 my-lg-0">
        <!-- <div class="form-group">
            <label for="privateKeyInput">Private Key</label>
            <input type="text" class="form-control" id="privateKeyInput" aria-describedby="emailHelp" placeholder="Enter private key">
            <small id="emailHelp" class="form-text text-muted">We'll never share your private key with anyone else.</small>
        </div> -->
        <div class="form-group">
            <input type="text" v-model="publicKey" class="form-control" id="publicKeyInput" placeholder="Wallet Public Key">
            <!-- <small id="publicKeyHelp" class="form-text text-muted">We'll never share your public key with anyone else.</small> -->
        </div>
        <button class="btn btn-primary" @click="openWallet(publicKey)">Open</button>
    </form>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "open-wallet-form",
  methods: {
    ...mapActions("wallet", {
      openWallet: "openWallet"
    })
  },
  data: function() {
    return {
      publicKey: ""
    };
  }
};
</script>

<style>
</style>
