<template>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">From Address</th>
            <th scope="col">To Address</th>
            <th scope="col">Amount</th>
            <th scope="col">Fee</th>
            </tr>
        </thead>
        <tbody v-for="transaction in transactions"
                v-bind:key="transaction.id">
            <tr v-bind:key="JSON.stringify(output)"
                v-for="output in transaction.outputs"
                v-if="$utils.wallet.walletAddress(output.address) !== $utils.wallet.walletAddress(transaction.input.address)">
            <td>{{ $utils.wallet.walletAddress(transaction.input.address) }}</td>
            <td>
                {{ $utils.wallet.walletAddress(output.address) }}
            </td>
            <td>
                {{ output.amount }}
            </td>
            <td>
                {{ output.fee }}
            </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "transaction-pool",
  computed: {
    ...mapGetters("wallet", {
      transactions: "transactions"
    })
  },
  methods: {
    ...mapActions("wallet", {
      getTransactions: "getTransactions"
    })
  },
  mounted() {
    this.getTransactions();
  },
  data() {
    return {
      line: 0
    };
  }
};
</script>

<style>
</style>
